[Unit]
Description=RFID MusicBox Webpanel
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/magic/programmer/RFIDMusicBox/webpanel.py
WorkingDirectory=/home/magic/programmer/RFIDMusicBox
Restart=always
User=magic
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target