[Unit]
Description=RFID Input Listener (tastaturbasert)
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/magic/RFIDMusicBox/rfid_input_listener.py
WorkingDirectory=/home/magic/RFIDMusicBox
Restart=always
User=magic
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target